<template>
  <transition-group name="fade">
    <app-header title="Error" v-bind:show-search="showSearch" :key="1"></app-header>
    <div class="wrapper" :key="2">
        <h2>404</h2>
    </div>
  </transition-group>
</template>

<script>
import AppHeader from '../components/Header.vue';

export default {
  name: 'app-error',
  components: {
    AppHeader,
  },
  data() {
    return {
      showSearch: false
    }
  },
};
</script>

<style scoped>
</style>
