<template>
  <div class="container">
    <app-header title="Profiles" v-bind:show-search="showSearch" v-on:search="searchTerm"></app-header>
    <profile-listing v-if="profiles" :profiles="profiles" v-on:selectedProfile="selectedProfile"></profile-listing>
    <div v-else>Loading...</div>
  </div>
</template>

<script>
import profilesMixin from '../mixins/profiles';

import ProfileListing from '../components/ProfileListing.vue';
import AppHeader from '../components/Header.vue';

export default {
  mixins: [ profilesMixin ],
  components: {
    ProfileListing,
    AppHeader,
  },
  name: 'app-home',
  data() {
    return {
      profiles: [],
      showSearch: true,
    };
  },
  methods: {
    searchTerm(searchTerm) {
      if (searchTerm.length <= 0) {
        this.requestProfiles();
        return;
      }
      this.searchProfile(searchTerm);
    },
    selectedProfile(profile) {
      this.$router.push({ path: `/user/${profile.localid}` }) 
      this.$route.params.pathMatch;
    }
  },
};
</script>

<style>
</style>
