<template>
  <transition-group name="fade">
    <app-header title="Profile" v-bind:show-search="false" :key="1"></app-header>
    <div class="wrapper wrapper--flex" :key="2">
      <quick-facts></quick-facts>
      <user-tabs v-bind:profileData="selectedProfile" v-if="!loading"></user-tabs>
      <div v-else>
        Loading...
      </div>
    </div>
  </transition-group>
</template>

<script>
import profileMixing from '../mixins/profiles';
import AppHeader from '../components/Header.vue';
import QuickFacts from '../components/QuickFacts.vue';
import UserTabs from '../components/Tabs';
import profiles from '../mixins/profiles';
import { EventBus } from '../utils/index.js';

export default {
  name: 'app-user',
  mixins: [ profileMixing ],
  components: {
    AppHeader,
    QuickFacts,
    UserTabs
  },
  data() {
    return {
      selectedProfile: [],
      profiles: [],
      loading: true
    };
  },
  computed: {
    id() {
      return this.$route.params.id;
    }
  },
  async mounted () {
    await this.getProfileById(this.id);
    await EventBus.$on('profile-loaded', profile => {
      this.loading = false;
      this.selectedProfile = profile;
    });
  }
};
</script>

<style scoped>
.wrapper--flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
</style>
