<template>
  <header>
    <div class="wrapper">
      <h1>{{title}}</h1>
      <div class="input--holder" v-if="showSearch">
        <input type="text" placeholder="Search Profile" v-on:keyup.13="search" v-model="searchTerm"/>
        <button @click="search" v-on:keyup.enter="search">Search</button>
      </div>
    </div>
  </header>
</template>

<script scoped>
export default {
  name: 'app-header',
  props: {
    title: String,
    showSearch: Boolean,
  },
  data() {
    return {
      searchTerm: ''
    };
  },
  methods: {
    search(e) {
      this.$emit('search', this.searchTerm);
    },
  },
  
};
</script>

<style scoped lang="scss">
  header {
    background: #03a9f4;
    color: #fff;
    padding: 20px 80px;
    
    h1 {
      margin-bottom: 12px;
    }
  }

  .input--holder {
    display: flex;
    width: 100%;
    
  }
  input[type="text"] {
    flex: 1 0 90%;
    padding: 10px 20px;
  }
</style>
