<template>
  <div class="wrapper">
    <table>
      <tr>
        <th>Photo</th>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>View</th>
      </tr>
      <tr v-for="(profile, index) in profiles" :key="index" v-on:click.stop="goToProfile(profile)">
        <td> 
          <img :src="profile.photo" width="40"/>
        </td>
        <td> {{profile.localid}} </td>
        <td> {{profile.email}} </td>
        <td> {{profile.first_name}} {{profile.last_name}} </td>
        <td> {{profile.phone}} </td>
        <td> {{profile.address}} </td>
        <td> > </td>
      </tr>
    </table>
  </div>
</template>

<script scoped>
export default {
  name: 'profile-listing',
  props: {
    profiles: Array
  },
  methods: {
    goToProfile(profile) {
      this.$emit('selectedProfile', profile);
    }
  }
};
</script>

<style scoped lang="scss">
  table {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #cccccc;
    box-shadow: 1px 10px 4px #cccccc;

    th {
      font-weight: 300;
      padding: 16px 12px;
      font-size: 14px;
      border-bottom: 2px solid #ccc;
    }
    td {
      font-size: 14px;
      padding: 4px 12px;
      border-bottom: 1px solid #ccc;
    }
  }
</style>
