<template>
  <transition name="fade">
    <div class="profile--card quick-facts">
      <h4 class="quick-facts--title">Quick Facts</h4>
      <div class="quick-facts--box-title">Status</div>
      <hr/>
      <div class="quick-facts--box">
        <ul class="list-box ico ico--person">
          <li>ID:</li>
          <li>Tier: gold</li>
          <li>Pts: 124,12</li>
        </ul>
      </div>
      <div class="quick-facts--box-title">Top 3 Facts</div>
      <hr/>
      <div class="quick-facts--box">
        <ul class="list-box ico ico--warn">
          <li><img src="../assets/progress.svg" width="30"></li>
          <li>Suite Room</li>
          <li>King Bed</li>
          <li>Highest floor</li>
        </ul>
      </div>
      <div class="quick-facts--box-title">RFM Score</div>
      <hr />
      <div class="quick-facts--box">
        <ul class="list-box list-box--inline">
            <li>R: 70%</li>
            <li>F: 50%</li>
            <li>M: 90%</li>
        </ul>
      </div>
      <div class="quick-facts--box-title">Ohter Facts</div>
      <hr />
      <div class="quick-facts--box">
        <ul class="list-box">
            <li class="ico ico--cal">
                Total Stays: <span>24</span>
            </li>
            <li class="ico ico--night">
                Nights: <span>43</span>
            </li>
            <li class="ico ico--bed">
                Avg. Stay: <span>1.33 nights</span>
            </li>
            <li class="ico ico--exit">
                Last Visit: <span>2020-02-03</span>
            </li>
            <li class="ico ico--cash">
                Lifetime value: <span>$2403.3</span>
            </li>
        </ul>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'quick-facts'
};
</script>

<style scoped lang="scss">
.quick-facts {
  display: block;
  max-width: 250px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #a8a8a8;
  padding: 20px 14px;
  margin-top: -30px;
  background: #fff;
  border-radius: 4px;
  flex: 1 0 250px;

  h4 {
    margin: 0;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 22px;
    }
  }

  hr {
    border: 1px solid #e0e0e0;
    margin: 8px 0 14px 0;
  }

  .quick-facts {
    color: #000;

    &--box-title {
      background: url('../assets/share.svg') no-repeat right center;
      cursor: pointer;
    }

    &--box {
      margin-top: 14px;
      margin-bottom: 24px;
    }

    &--title {
      font-size: 18px;
      color: #343434;
    }
  }  

  .ico {
    background-repeat: no-repeat;
    background-position: left 2px;
    background-size: 20px;
    padding-left: 30px;

    &--cal {
      background-image: url('../assets/cal.svg');
    }
    &--night {
      background-image: url('../assets/night.svg');
    }
    &--bed {
      background-image: url('../assets/bed.svg');
    }
    &--exit {
      background-image: url('../assets/exit.svg');
    }
    &--cash {
      background-image: url('../assets/money.svg');
    }
    &--person {
      background-image: url('../assets/account.svg');
    }
    &--warn {
      background-image: url('../assets/warn.svg');
    }
  }
  .list-box {
    span {
      font-weight: bold;
      display: inline-block;
      float: right;
    }

    .ico {
      background-size: 24px;
      padding-left: 34px;
      line-height: 28px;
    }

    &--inline {
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>
