<template>
  <div class="profile--tabs">
    <!-- 1 -->
    <div class="profile--card">
      <h2>Profile Detail</h2>
      <table>
        <tr>
          <td>Prefix</td>
          <td>{{profileData.prefix}}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>{{profileData.first_name}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{profileData.last_name}}</td>
        </tr>
        <tr>
          <td>Suffix</td>
          <td>{{profileData.suffix || '-'}}</td>
        </tr>
        <tr>
          <td>Loyalty Member ID</td>
          <td>{{profileData.loyalty_member_id}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{profileData.phone}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{profileData.address}}</td>
        </tr>
        <tr>
          <td>Birthdate</td>
          <td>{{profileData.birthdate}}</td>
        </tr>
        <tr>
          <td>Language Preferences</td>
          <td>English</td>
        </tr>
      </table>
    </div>

    <!-- 2 -->
    <div class="profile--card" name="profile" style="display:none">
      <h2>Profile ID's</h2>
      <div class="profile--card--content">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s with the release of 
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
          software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      </div>
    </div>

    <!-- 3 -->
    <div class="profile--card" name="activity" style="display:none">
      <h2>Activity Timeline</h2>
      <div class="profile--card--content">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s with the release of 
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
          software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      </div>
    </div>
  </div>
  </template>

  <script>
  export default {
    name: 'user-tabs',
    props: [
      'profileData'
    ]
  }
  </script>

  <style scoped lang="scss">
    .profile {
      &--tabs {
        margin-left: 40px;
        margin-top: -30px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 3px #a8a8a8;
        background: #fff;
        padding: 0 20px;
        flex: 1;
      }
      &--wrapper {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        padding: 14px;
      }

      &--card--content {
        padding: 14px;
        border: 1px solid #ccc;
        background: #fafafa;
      }
    }

    .table--holder {
      background: #fafafa;
      border: 1px solid #e2e2e2;
      padding: 14px;
    }

    table {
      width: 100%;
      border: 1px solid #e0e0e0;
      background-color: #fff;
      border-radius: 6px;
      td {
        line-height: 40px;
        border-bottom: 1px solid #e0e0e0;
        padding: 0 14px;

        &:nth-child(2) {
          font-weight: bold;
        }
      }
    }
    .white-bcg {
      background-color: #fff!important;
      padding: 14px;
      border-radius: 6px;
    }
  </style>