<template>
  <transition name="slide">
    <router-view></router-view>
  </transition>
</template>
<script>
export default {
  name: 'app'
}
</script>

<style>
html,body {
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin: 0;
  font-weight: 300;
}
#app {
  text-align: center;
  color: #2c3e50;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
</style>
